* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #ECE6C2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ECE6C2;
  width: 90%;
  max-width: 400px;
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  animation: aparecer 1s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  color: #CC6B49;
  margin-bottom: 5px;
}

h2 {
  color: #D2A24C;
  margin-bottom: 15px;
}

.contador {
  background-color: #ECE6C2;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.contador p {
  margin: 0;
  font-weight: 600;
  color: #D2A24C;
}

#tiempo {
  font-size: 18px;
  font-weight: 700;
  color: #CC6B49;
  margin-top: 5px;
}

.info p {
  margin: 8px 0;
  color: #555;
  font-size: 15px;
}

.btn {
  display: block;
  margin: 15px auto;
  padding: 12px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  width: 80%;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  color:#ECE6C2;
}

.maps {
  background-color: #CC6B49;
  color: #ECE6C2;
}

.maps:hover {
  background-color: #CC6B49;
  transform: scale(1.05);
}

.confirmacion {
  margin-top: 25px;
}

.confirmacion h3 {
  color: #D2A24C;
  margin-bottom: 12px;
}

.confirmacion input {
  width: 85%;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  font-size: 15px;
}

.whatsapp {
  background-color: #b8f2e6;
  color: #096b5b;
}

.whatsapp:hover {
  background-color: #9ee6d8;
  transform: scale(1.05);
}

.foto {
  width: 75%;
  border-radius: 15px;
  margin-bottom: 20px;
}

